*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.log

#built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store
/.idea/gradle.xml
/.idea/misc.xml
/.idea/markdown-navigator.xml
/.idea/markdown-exported-files.xml
/.idea/markdown-navigator/profiles_settings.xml